apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pokerbot

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres.yaml
  - redis.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - ingress.yaml

# Общие labels для всех ресурсов
commonLabels:
  app.kubernetes.io/name: pokerbot
  app.kubernetes.io/version: "1.3.0"
